body{
	font-family: 'Dosis', sans-serif;
}
p{
	font-family: 'Montserrat', sans-serif;
}
a{
	font-family: 'Dosis', sans-serif;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Dosis', sans-serif;
}

/*Header*/
.navbar-default .navbar-nav>li>a {
	color: #777;
	text-transform: uppercase;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #f74d65;
}
header{
	background: url(../images/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.section_overlay{
	background: rgba(250,250,250, .5);
}
.home_text{
	padding-top: 210px;
	padding-bottom: 210px;
}
.home_text h2{
	color: #010101;
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.home_text p{
	color: #404040;
	font-size: 14px;
	text-transform: uppercase;
}
.home_text img{}
.scroll_down{
	padding-bottom: 50px;
}
.scroll_down h4{
	font-size: 12px;
	color: #000;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}


/*Services*/
.services{
	padding-top: 96px;

}
.services .container{
	border-bottom: 1px solid #ddd;
}
.single_service{
	padding-bottom: 96px;
}
.single_service i{
	font-size: 25px;
	color: #f73b56;
}
.single_service h2{
	color: #000000;
	font-size: 25px;
	text-transform: uppercase;
}
.single_service p{
	color: #404040;
	font-size: 14px;
}
.single_progress_bar .progress {
	height: 1px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: #d5d5d5;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.single_progress_bar .progress-bar {
	background-color: #2d3334;
}
.single_progress_bar h2{
	color: 000;
	font-size: 14px;
	font-weight: 400;
}

/*about page layout*/

.about_layout{
	float: left;
	text-align: center;
}

#about_pre{
	font-size: 14px;
	color: #red;
	line-height: 21px;
	width: 100%;
	align: center;
}
.about_title{
	text-align: center;
}
.about_title h2{
	font-size: 25px;
	color: #3d3d3d;
	text-transform: uppercase;
	letter-spacing: 6px;
}

.about_title img{
	margin-bottom: 20px;
}

/*Accordion animation*/

.accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 20px;
	transition: 1s;
}

.active, .accordion:hover {
	background-color: #ccc;
}

.panel {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.4s ease-out;
	width: 100%;
}

.single_count{
	padding-top: 30px;
}
.single_count i{
	color: #f73b56;
	font-size: 24px;
}
.single_count h3{
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 0px;	
}
.single_count p{
	font-family: 'Dosis', sans-serif;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	position: relative;	
}
.single_count p:before{
	content: "";
	position: absolute;
	width: 16px;
	height: 1px;
	left: 0;
	bottom: -4px;
	background: #ef4251;
}
.imac{
	position: relative;
	margin-top: -40px;	
}
.imac img{
	width: 100%;
}

@media(max-width: 767px){
	.imac{
		margin-top: 20px
	}
}
.single_image{
	margin-right: 3px;
	position: relative;
	transition: all 1s;
}
.single_image img{
	width: 100%;
}
.single_image:hover div.image_overlay{
	opacity: 1;
}

.image_overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(247,77,101,.9);
	left: 0;
	top: 0;
	opacity: 0;
	transition: all 1s;
}
.image_overlay a{
	position: absolute;
	top: 20px;
	right: 20px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;	
}
.image_overlay h2{
	position: absolute;
	bottom: 28px;
	left: 20px;
	font-size: 40px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 3px;	
}
.image_overlay h4{
	position: absolute;
	bottom: 11px;
	left: 20px;
	color: #fff;
	font-size: 17px;
	text-transform: uppercase;	
}
.no_padding{
	padding-left: 0px;
	padding-right: 0px;
}
.work_title{}
.work_title h1, .contact_title h1{
	font-size: 25px;
	color: #3d3d3d;
	letter-spacing: 5px;
	padding-top: 70px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.work_title img, .contact_title img{
	margin-bottom: 30px;
}
.work_title p, .contact_title p{
	font-size: 14px;
	color: #000;
	margin-bottom: 10px;
}
.last_padding {
	padding-right: 0px;
}
.pad_top {
	padding-top: 40px;
}
.left h2{
	margin-top: 60px;
	margin-bottom: 20px;
	font-size: 18px;
	color: #000;
	font-weight: bold;
}
.left p{
	margin-bottom: 60px;
	font-size: 14px;
	color: #000;
}
.baton{
	margin-top: 65px;
}
.cs-btn, .cs-btn:active, .cs-btn:visited, .cs-btn:focus{
	color: #fff;
	background-color: #000;
	border-radius: 0px;
	outline: none;
	padding: 10px 40px;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: all 1s;
}
.cs-btn:hover{
	background: #f74d65;
	border-color: #f74d65;
}
.call_to_action .container{
	padding-bottom: 60px;
	border-bottom: 1px solid #ddd;
}

/*Contact*/

.single_contact_info{
	padding-bottom: 21px;
}
.single_contact_info h2{
	text-transform: uppercase;
	color: #3d3d3d;
	font-size: 18px;
	letter-spacing: 3px;
	margin-bottom: 1px;	
	position: relative;	
}
.single_contact_info p{
	position: absolute;	
	font-size: 15px;
	color: #3d3d3d;	
}


.work-with {
	padding-bottom: 60px;
	padding-top: 0px;
}
.work-with h3{
	font-size: 14px;
	color: #636363;
	text-transform: uppercase;
}


.row{
	text-align: center;
}

#contactrow1{
	align-items: center;
	display: inline-block;
	margin: 0px 50px 0px 50px;
}

#contactrow2{
	align-items: center;
	display: inline-block;
	margin: 0px 130px 0px 90px;
}

#work_images{
	width: 100%;
	padding: 5px;
	align-content: center;
	text-align: center;
	
}

.zoom {
	padding: 50px;
	background-color: #white;
	transition: transform 1s; /* Animation */
	width: 48%;
	height: 30%;
	margin: 0 auto;
	display: inline-block;
	align-items: center;
  }
  
  .zoom:hover {
	transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

